body {
    font-family: 'Roboto',
        sans-serif;
    line-height: 1.7;
}

.heading-primary {
    font-family: 'Roboto Condensed',
        sans-serif;
    font-weight: bold;
    line-height: 1;
}

.heading-secondary {
    font-family: inherit;
    font-weight: 600;
}

.heading-tertiary {
    font-family: 'Roboto'sans-serif;
    font-weight: 600;
}

.heading-light{
    font-weight: 300!important;
}

.heading-bold{
    font-weight: 600!important;
}

.bold {
    font-weight: 600;
}

.text-primary {
    @include color-primary;
}

.text-secondary {
    @include color-secondary;
}

.text-dark {
    @include color-dark;
}

.text-light {
    @include color-light;
}

.text-black {
    @include color-black;
}

.text-white {
    @include color-white;
}

.text-h-primary {
    color: inherit;

    &:hover{
    @include color-primary;}
}

.text-h-secondary {
    color: inherit;

    &:hover{
    @include color-secondary;}
}

.text-h-dark {
    color: inherit;

    &:hover{
    @include color-dark;}
}

.text-h-light {
    color: inherit;

    &:hover{
    @include color-light;}
}

.text-h-black {
    color: inherit;

    &:hover{
    @include color-black;}
}

.text-h-white {
    color: inherit;

    &:hover{
    @include color-white;}
}

@include media-breakpoint-up(xs) {
    p, label,input, .form-control {
        font-size: 1.5rem;
        font-weight: 300;

        &.small{font-size: calc(1.5rem - 10%);}
    }

    h1 {
        font-size: 5rem;

        &.small {
            font-size: calc(5rem - 10%);
        }
    }

    h2 {
        font-size: 4rem;

        &.small {
            font-size: calc(4rem - 10%);
        }
    }

    h3 {
        font-size: 3rem;

        &.small {
            font-size: calc(3rem - 10%);
        }
    }

    h4 {
        font-size: 2rem;

        &.small {
            font-size: calc(2rem - 10%);
        }
    }

    h5 {
        font-size: 1.75rem;

        &.small {
            font-size: calc(1.75rem - 10%);
        }
    }

    h6 {
        font-size: 1.25rem;

        &.small {
            font-size: calc(1.25rem - 10%);
        }
    }
}

@include media-breakpoint-up(sm) {
    p, label,input, .form-control {
        font-size: 1.5rem;

        &.small{font-size:  calc(1.5rem - 10%);}
    }

    h1 {
        font-size: 5.5rem;

        &.small{font-size:  calc(5.5rem - 10%);}
    }

    h2 {
        font-size: 4.5rem;

        &.small{font-size:  calc(4.5rem - 10%);}
    }

    h3 {
        font-size: 3rem;

        &.small{font-size:  calc(3rem - 10%);}
    }

    h4 {
        font-size: 2.5rem;

        &.small{font-size:  calc(2.5rem - 10%);}
    }

    h5 {
        font-size: 2rem;

        &.small{font-size:  calc(2rem - 10%);}
    }

    h6 {
        font-size: 1.25rem;

        &.small{font-size:  calc(1.25rem - 10%);}
    }
}

@include media-breakpoint-up(md) {
    p, label,input, .form-control {
        font-size: 1.5rem;

        &.small{font-size:  calc(1.5rem - 10%);}
    }

    h1 {
        font-size: 6rem;

        &.small{font-size:  calc(6rem - 10%);}
    }

    h2 {
        font-size: 5rem;

        &.small{font-size:  calc(5rem - 10%);}
    }

    h3 {
        font-size: 4rem;

        &.small{font-size:  calc(4rem - 10%);}
    }

    h4 {
        font-size: 3rem;

        &.small{font-size:  calc(3rem - 10%);}
    }

    h5 {
        font-size: 2rem;

        &.small{font-size:  calc(2rem - 10%);}
    }

    h6 {
        font-size: 1.25rem;

        &.small{font-size:  calc(1.25rem - 10%);}
    }
}

@include media-breakpoint-up(lg) {
    p, label,input, .form-control {
        font-size: 1.5rem;

        &.small{font-size:  calc(1.5rem - 10%);}
    }

    h1 {
        font-size: 6.5rem;

        &.small{font-size:  calc(6.5rem - 10%);}
    }

    h2 {
        font-size: 5.5rem;

        &.small{font-size:  calc(5.5rem - 10%);}
    }

    h3 {
        font-size: 4.5rem;

        &.small{font-size:  calc(4.5rem - 10%);}
    }

    h4 {
        font-size: 3.5rem;

        &.small{font-size:  calc(3.5rem - 10%);}
    }

    h5 {
        font-size: 2.5rem;

        &.small{font-size: 1 calc(2.5rem - 10%);}
    }

    h6 {
        font-size: 1.5rem;

        &.small{font-size:  calc(1.5rem - 10%);}
    }

    .fa,.fas,.fab,.far{
        font-size: 3rem;
    }
}

@include media-breakpoint-up(xl) {
    p, label,input, .form-control {
        font-size: 2rem;

        &.small{font-size:  calc(2rem - 10%);}
    }

    h1 {
        font-size: 7rem;

        &.small{font-size:  calc(7rem - 10%);}
    }

    h2 {
        font-size: 6rem;

        &.small{font-size:  calc(6rem - 10%);}
    }

    h3 {
        font-size: 5rem;

        &.small{font-size:  calc(5rem - 10%);}
    }

    h4 {
        font-size: 4rem;

        &.small{font-size:  calc(4rem - 10%);}
    }

    h5 {
        font-size: 3rem;

        &.small{font-size:  calc(3rem - 10%);}
    }

    h6 {
        font-size: 2rem;

        &.small{font-size:  calc(2rem - 10%);}
    }
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

.font-p25rem {
    font-size: .25rem !important;
}

.font-p5rem {
    font-size: .5rem !important;
}

.font-p75rem {
    font-size: .75rem !important;
}

.font-1rem {
    font-size: 1rem !important;
}

.font-1p25rem {
    font-size: 1.25rem !important;
}

.font-1p5rem {
    font-size: 1.5rem !important;
}

.font-1p75rem {
    font-size: 1.75rem !important;
}

.font-2rem {
    font-size: 2rem !important;
}

.font-2p25rem {
    font-size: 2.25rem !important;
}

.font-2p5rem {
    font-size: 2.5rem !important;
}

.font-2p75rem {
    font-size: 2.75rem !important;
}

.font-3rem {
    font-size: 3rem !important;
}

.font-3p25rem {
    font-size: 3.25rem !important;
}

.font-3p5rem {
    font-size: 3.5rem !important;
}

.font-3p75rem {
    font-size: 3.75rem !important;
}

.font-4rem {
    font-size: 4rem !important;
}

.font-4p25rem {
    font-size: 4.25rem !important;
}

.font-4p5rem {
    font-size: 4.5rem !important;
}

.font-4p75rem {
    font-size: 4.75rem !important;
}

.font-5rem {
    font-size: 5rem !important;
}

.font-5p25rem {
    font-size: 5.25rem !important;
}

.font-5p5rem {
    font-size: 5.5rem !important;
}

.font-5p75rem {
    font-size: 5.75rem !important;
}

.font-6rem {
    font-size: 6rem !important;
}

.font-6p25rem {
    font-size: 6.25rem !important;
}

.font-6p5rem {
    font-size: 6.5rem !important;
}

.font-6p75rem {
    font-size: 6.75rem !important;
}

.font-7rem {
    font-size: 7rem !important;
}

.font-7p25rem {
    font-size: 7.25rem !important;
}

.font-7p5rem {
    font-size: 7.5rem !important;
}

.font-7p75rem {
    font-size: 7.75rem !important;
}