// --> Colours
$color-primary: #ee4823;
$color-secondary: #165dff;
$color-dark: #131923;
$color-light: #d5d6d7;
$color-white: #fff;
$color-black: #000;

// $color-blue : ;
// $color-red: ;
// $color-green: ;
// $color-turqoise: ;
// $color-orange: ;
// $color-magenta: ;
// $color-purple: ;

// --> Widths
$width-container: 114rem;
$width-container-extended: 130rem;
$width-fluid: 100vw;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
